# Readme
*.md

# Tests and lint configuration
server.test.js
eslint.config.mjs

# Node modules
node_modules

# Environment files
.env

# Git files
.git
.gitignore

# Helm charts
charts/*

# Pipelines
.github/*

# Dockerfile and other Docker-related files
Dockerfile*
.dockerignore

# Helm custom values file
helm-values.yaml